# Exercício

O dataset utilizado neste execício é o [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries), disponibilizado em uma competição do Kaggle.

### Faça a leitura do arquivo "Salaries.csv"

In [55]:
import pandas as pd

df = pd.read_csv('Salaries.csv')
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

### Apresente algumas informações sobre o dataframe com .info()

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

### Qual a média de valores na coluna "BasePay"

In [57]:
df["BasePay"].mean()

66325.44884050643

### Qual o maior valor da coluna "OvertimePay"

In [58]:
df["OvertimePay"].max()

245131.88

### Qual o "JobTitle" de ALBERT PARDINI (EmployeeName) ?

In [59]:
df[df["EmployeeName"] == "ALBERT PARDINI"] ["JobTitle"]

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

### Qual o salário de ALBERT PARDINI, incluindo os benefícios (TotalPayBenefits)?

In [60]:
df[df["EmployeeName"] == "ALBERT PARDINI"] ["TotalPayBenefits"]

2    335279.91
Name: TotalPayBenefits, dtype: float64

### Qual o nome da pessoa com o maior salário, incluindo os benefícios? E quem tem o menor salário?

In [61]:
df[df["TotalPayBenefits"] == df["TotalPayBenefits"].max()] ["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [62]:
df[df["TotalPay"] == df["TotalPay"].min()] ["EmployeeName"]

148653    Joe Lopez
Name: EmployeeName, dtype: object

### Qual a média salarial dos funcionários (TotalPay)? E qual a média do salário por ano?

In [63]:
mediaSalarial = df["TotalPay"].mean()
mediaSalarial

74768.321971703

In [64]:
desvioPadraoAno = df.groupby("Year").mean()["TotalPay"]
desvioPadraoAno

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

### Qual o desvio padrão dos salários, incluindo os benefícios?

In [65]:
desvioPadrao = df["TotalPayBenefits"].std()
desvioPadrao

62793.53348323814

### Quantas pessoas estão dentro do intervalo de 1 desvio padrão?

In [74]:
mediaSalarialComBeneficios = df["TotalPayBenefits"].mean()
mediaSalarialComBeneficios

limiteInferior = mediaSalarialComBeneficios - desvioPadrao
limiteSupeior = mediaSalarialComBeneficios + desvioPadrao

quantidadeObservacoes1Desvio = df[(df["TotalPayBenefits"] <= limiteSupeior) & (df["TotalPayBenefits"] >= limiteInferior)]["Id"].count()
quantidadeObservacoes1Desvio

93119

## Desafios

### O salário segue uma distribuição normal?
Dica: A biblioteca scipy e normaltest para obter mais informações

### Para os campos com valores nulos, como você pensaria em tratá-los?

### Você conseguiria criar uma nova variável com base nas informações existentes?