## Numeric

In [1]:
# Todos os números criados em R são do modo Numeric
# São armazenados como números decimais(double)
num1 <- 7
num1

[1] 7

In [2]:
class(num1)
mode(num1)
typeof(num1)

[1] "numeric"

[1] "numeric"

[1] "double"

In [3]:
num2 = 16.82
num2

[1] 16.82

## Integer

In [4]:
# Convertendo tipos Numeric em Integer

is.integer(num2)
y = as.integer(num2)

class(y)
mode(y)
typeof(y)

[1] FALSE

[1] "integer"

[1] "numeric"

[1] "integer"

In [6]:
as.integer('3.17')
as.integer("Joe")
as.integer('Joe')
as.integer(TRUE)

[1] 3

Warning message in eval(expr, envir, enclos):
"NAs introduzidos por coerção"

[1] NA

Warning message in eval(expr, envir, enclos):
"NAs introduzidos por coerção"

[1] NA

[1] 1

## Character

In [7]:
char1 = 'A'
char1
mode(char1)
typeof(char1)

[1] "A"

[1] "character"

[1] "character"

In [8]:
char2 = "Cientista"
char2
mode(char2)
typeof(char2)

[1] "Cientista"

[1] "character"

[1] "character"

In [9]:
char3 = c("Data","Science","Academy")
char3
mode(char3)
typeof(char3)

[1] "Data"    "Science" "Academy"

[1] "character"

[1] "character"

## Complex

In [10]:
complex = 2.5 + 4i
complex
mode(complex)
typeof(complex)

[1] 2.5+4i

[1] "complex"

[1] "complex"

In [11]:
sqrt(-1)
sqrt(-1 + 0i)
sqrt(as.complex(-1))

Warning message in sqrt(-1):
"NaNs produzidos"

[1] NaN

[1] 0+1i

[1] 0+1i

## Logic

In [12]:
x = 1; y = 2
z = x > y
z
class(z)

[1] FALSE

[1] "logical"

In [14]:
u = TRUE; v = FALSE
class(u)
u & v
u | v
!u

[1] "logical"

[1] FALSE

[1] TRUE

[1] FALSE

## Operações com 0

In [15]:
5/0
0/5

[1] Inf

[1] 0

In [16]:
'Joe'/5

ERROR: Error in "Joe"/5: argumento não-numérico para operador binário