## Vetor de Strings

In [1]:
vetor_catacter = c("Jeann","Câmara","Rodrigues")
vetor_catacter

[1] "Jeann"     "Câmara"    "Rodrigues"

## Vetor de Floats

In [2]:
vetor_numerico = c(1.0,2.0,3.0)
vetor_numerico

[1] 1 2 3

## Vetor de Valores Complexos

In [3]:
vetor_complexo = c(1i,2i,3i)
vetor_complexo

[1] 0+1i 0+2i 0+3i

## Vetor de Valores Lógicos

In [4]:
vetor_logico = c(TRUE,FALSE,TRUE)
vetor_logico

[1]  TRUE FALSE  TRUE

## Vetor de Números Inteiros.

In [5]:
Vetor_integer = c(1,2,3)
Vetor_integer

[1] 1 2 3

## Utilizando Seq()

In [9]:
vetor1 = seq(1:10)
vetor1
is.vector(vetor1)

 [1]  1  2  3  4  5  6  7  8  9 10

[1] TRUE

## Utilizando Rep()

In [8]:
vetor2 = rep(1:5)
vetor2
is.vector(vetor2)

[1] 1 2 3 4 5

[1] TRUE

## Indexação de Vetores

In [10]:
a <- c(1,2,3,4,5)
a
a[1]
a[6]

[1] 1 2 3 4 5

[1] 1

[1] NA

In [11]:
b <- c("Jeann","Câmara","Rodrigues")
b
b[1]
b[2]
b[3]
b[4]

[1] "Jeann"     "Câmara"    "Rodrigues"

[1] "Jeann"

[1] "Câmara"

[1] "Rodrigues"

[1] NA

## Combinando Vetores

In [13]:
v1 = c(1,2,3)
v2 = c("a","b","c")
c(v1,v2)

[1] "1" "2" "3" "a" "b" "c"

## Operações com Vetores

In [14]:
x = c(1,3,5,7)
y = c(2,4,6,8)

x * 5 
x + y
x - y
x * y
x / y

[1]  5 15 25 35

[1]  3  7 11 15

[1] -1 -1 -1 -1

[1]  2 12 30 56

[1] 0.5000000 0.7500000 0.8333333 0.8750000

## Somando Vetores com números diferentes de elementos.

In [15]:
alfa = c(10,20,30)
beta = c(1,2,3,4,5,6,7,8,9)

alfa + beta

[1] 11 22 33 14 25 36 17 28 39

## Vetor Nomeado

In [17]:
v = c("Nelson","Mandela")
v
names(v) = c("Nome", "Sobrenome")
v
v["Nome"]
v["Sobrenome"]

[1] "Nelson"  "Mandela"

     Nome Sobrenome
 "Nelson" "Mandela"

    Nome
"Nelson"

Sobrenome
"Mandela"